# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.env
.env
venv/
ENV/
.envrc

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*~

# Logs
*.log

# Other
*.sqlite3
*.db

# Node
node_modules/
